.header {
  background-color: orangered;
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 6px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
